html {
    background: #FFFFFF;
    /*background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;*/
}

body {
    background: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.palette{
    display: block;
    background: #0F1453;
    box-sizing: border-box;
    padding: 40px 60px;
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.palette_box{
    
}

.palette .circle{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}



.palette .palette_box .color{
    float: left;
    margin: 0 40px 0px 0px;
    padding: 0;
}

.palette .palette_box .color:nth-child(4){
    margin: 0 -40px 0px 0px;
}

.palette .palette_box .color .circle.natsumi{
    background: #E53549;
}
.palette .palette_box .color .circle.works{
    background: #826123;
}
.palette .palette_box .color .circle.photo{
    background: #252E9A;
}
.palette .palette_box .color .circle.words{
    background: #F0643B;
}
.palette .palette_box .color .circle.love{
    background: #EAA9EA;
}

.palette .palette_box .color .color_name{
    color: #fff;
    font-size: 14px;
    margin: 0;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}


b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}
